@import "tailwindcss";

* {
  font-family: "Figtree";
}
@theme {
  --color-dark-overlay: #18181b;
  --color-darker-overlay: #111112;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust width to be noticeable but not intrusive */
}
::-webkit-scrollbar-track {
  border-top-right-radius: 10px;
}
.trend-group::-webkit-scrollbar-thumb {
  background-color: #545454;
  visibility: hidden;
  opacity: 0;
}
.trend-group:hover::-webkit-scrollbar-thumb {
  background-color: #545454;
  visibility: visible;
  opacity: 1;
}
.rhythmo-section-trending {
  scrollbar-width: none;
}

.rhythmo-section-trending::-webkit-scrollbar {
  display: none;
}
