@import "tailwindcss";

* {
  font-family: "Figtree";
}
@theme {
  --color-dark-overlay: #18181b;
  --color-darker-overlay: #111112;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust width to be noticeable but not intrusive */
}
::-webkit-scrollbar-track {
  border-top-right-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #545454;
  transition: all 2s ease-in-out 2s;
}
