@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Figtree";
}
@theme {
  --color-dark-overlay: #18181b;
  --color-darker-overlay: #111112;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust width to be noticeable but not intrusive */
}
::-webkit-scrollbar-track {
  border-top-right-radius: 10px;
}
.trend-group::-webkit-scrollbar-thumb {
  background-color: #545454;
  visibility: hidden;
  opacity: 0;
}
.trend-group:hover::-webkit-scrollbar-thumb {
  background-color: #545454;
  visibility: visible;
  opacity: 1;
}
.rhythmo-section-trending {
  scrollbar-width: none;
}

.rhythmo-section-trending::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-150px);
  }
}

.closing {
  animation: fadeIn 0.5s ease-out fowards;
}
